<template>
    <div class="p-a white lt box-shadow">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mb-0 _300">Welcome to Sharp Remora</h4>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>
