<template>
    <div id="aside" class="app-aside modal nav-dropdown">
        <div class="left navside dark dk" data-layout="column">
            <div class="navbar no-radius">
                <a class="navbar-brand">
                    <span class="hidden-folded inline">Sharp Remora</span>
                </a>
            </div>
            <div class="hide-scroll" data-flex>
                <nav class="scroll nav-light">
                    <ul class="nav" ui-nav>
                        <li class="nav-header hidden-folded">
                            <small class="text-muted">Main</small>
                        </li>
                        <li>
                            <a href="/dashboard" >
                                <span class="nav-icon">
                                    <i class="material-icons">&#xe3fc;
                                    </i>
                                </span>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="nav-caret">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                                <span class="nav-label">
                                    <b class="label rounded label-sm primary">5</b>
                                </span>
                                <span class="nav-icon">
                                    <i class="material-icons">&#xe5c3;
                                        <span ui-include="'../assets/images/i_1.svg'"></span>
                                    </i>
                                </span>
                                <span class="nav-text">Apps</span>
                            </a>
                            <ul class="nav-sub">
                                <li>
                                    <a href="inbox.html" >
                                        <span class="nav-text">Inbox</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        <span class="nav-text">Contacts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="calendar.html" >
                                        <span class="nav-text">Calendar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>
                                <span class="nav-caret">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                                <span class="nav-icon">
                                    <i class="material-icons">&#xe8f0;
                                    </i>
                                </span>
                                <span class="nav-text">Layouts</span>
                            </a>
                            <ul class="nav-sub">
                                <li>
                                    <a href="headers.html" >
                                        <span class="nav-text">Header</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="asides.html" >
                                        <span class="nav-text">Aside</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="footers.html">
                                        <span class="nav-text">Footer</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="widget.html">
                                <span class="nav-icon">
                                    <i class="material-icons">&#xe8d2;
                                    </i>
                                </span>
                                <span class="nav-text">Widgets</span>
                            </a>
                        </li>

                        <li class="nav-header hidden-folded">
                            <small class="text-muted">Components</small>
                        </li>

                        <li>
                            <a>
                                <span class="nav-caret">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                                <span class="nav-label">
                                    <b class="label label-sm accent">8</b>
                                </span>
                                <span class="nav-icon">
                                    <i class="material-icons">&#xe429;
                                    </i>
                                </span>
                                <span class="nav-text">UI kit</span>
                            </a>
                            <ul class="nav-sub nav-mega nav-mega-3">
                                <li>
                                    <a href="arrow.html">
                                        <span class="nav-text">Arrow</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="box.html">
                                        <span class="nav-text">Box</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="button.html" >
                                        <span class="nav-text">Button</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="color.html">
                                        <span class="nav-text">Color</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="dropdown.html">
                                        <span class="nav-text">Dropdown</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-header hidden-folded">
                            <small class="text-muted">Help</small>
                        </li>

                        <li class="hidden-folded">
                            <a href="docs.html">
                                <span class="nav-text">Documents</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="b-t">
                <div class="nav-fold">
                    <a href="profile.html">
                        <span class="pull-left">
                        </span>
                        <span class="clear hidden-folded p-x">
                            <span class="block _500">Jean Reyes</span>
                            <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
